<!DOCTYPE html>
<html>
    <head>
        <title>Nouveau lecteur</title>
    </head>
    
    <body>
        <h1>Nouveau lecteur</h1>
        <form method="post" action="/xxnouveau-lecteur">
            <table>
		<tr>
		    <td>Adresse mail : </td>
		    <td><input type="text" name="emailLecteur" placeholder="Adresse mail" required></td>
		</tr>
		<tr>
		    <td>Choisissez un pseudo : </td>
		    <td><input type="text" name="pseudoLecteur" placeholder="Pseudo" required></td>
		</tr>
		<tr>
		    <td>Choisissez un mot de passe : </td>
		    <td><input type="passwordLecteur" size="10" name="password" placeholder="Password" required>
		    </td>
		</tr>
		<tr>
		    <td COLSPAN="2" align="middle">
			<input type="submit" value="Inscrire">
		    </td>
		</tr>
	    </table>
        </form>
    </body>
</html>
