<!DOCTYPE html>
<html>
    <head>
        <title>Un livre</title>
    </head>

    <body>
        <h1>Un livre</h1>
        <form method="post" action="/Un-livre-post">
	    <input type="text" name="titreLivre" placeholder="entrer le titre" required>
	    <input type="text" name="auteurLivre" placeholder="entrer l'auteur" required>
	    <input type="submit" value="Entrer">
        </form>
    </body>
</html>
