<!DOCTYPE html>
<html>
    <head>
        <title><%= title_tag %></title>
    </head>

    <body>
        <h1><%= title_page %></h1>
	<ul>
	    <li>Titre <%= un_livre.titreLivre %></li>
	    <li>auteur <%= un_livre.auteurLivre %></li>
	</ul>
    </body>
</html>
