<!DOCTYPE html>
<html>
    <head>
        <title>Un participant</title>
    </head>

    <body>
        <h1>Un participant</h1>
        <form method="post" action="/Un-participant-post">
	    <input type="text" name="pseudoParticipant" placeholder="entrer le pseudo" required>
	    <input type="submit" value="Entrer">
        </form>
    </body>
</html>
