<!DOCTYPE html>
<html>
    <head>
        <title><%= pseudo_tag %></title>
    </head>

    <body>
        <h1><%= pseudo_page %></h1>
	<ul>
	    <li>Pseudo <%= un_participant.pseudoParticipant %></li>
	    <li>mail <%= un_participant.emailParticipant %></li>
	</ul>
    </body>
</html>
